/* Import af font fra Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

/* Root-variabler */
:root {
  --font-body: "Poppins", sans-serif; /* brødtekst font importeret via google fonts*/
  --font-heading: "Yusei Magic", sans-serif; /* overskrift font importeret via google fonts*/
  --roed-farve: #920b1b;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

/* baggrund stil */
html,
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/baggrund.svg);
  background-size: 100% auto;
  overflow: hidden;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* Knap stil */
.image-button {
  position: relative;
  display: inline-flex;
  width: 300px;
  top: 40vh;
  left: 70%;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
  z-index: 100;
}
.image-button:hover {
  transform: scale(1.05);
}
.image-button img {
  max-width: 100%;
  height: auto;
}
.image-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  font-size: 32px;
  font-family: var(--font-heading);
}
#fish-button {
  left: 10%;
  top: 55vh;
}
#extra-button {
  left: 4%;
  top: 10vh;
}

/* Boble animationer */
.bubble {
  position: absolute;
  bottom: -40vh;
  width: 40px;
  height: 40px;
  z-index: 90;
  animation: bubble-up 8s linear infinite;
  cursor: pointer;
}
@keyframes bubble-up {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-140vh) translateX(var(--drift));
  }
}
.bubble:nth-child(1) {
  animation-delay: 0s;
  animation-duration: 17s;
  left: 10%;
  --drift: 20px;
}
.bubble:nth-child(2) {
  animation-delay: 0s;
  animation-duration: 14s;
  left: 30%;
  --drift: 40px;
}
.bubble:nth-child(3) {
  animation-delay: 0s;
  animation-duration: 12s;
  left: 50%;
  --drift: 27px;
}
.bubble:nth-child(4) {
  animation-delay: 0s;
  animation-duration: 20s;
  left: 70%;
  --drift: 74px;
}
.bubble:nth-child(5) {
  animation-delay: 0s;
  animation-duration: 8s;
  left: 90%;
  --drift: 13px;
}
.bubble:nth-child(6) {
  animation-delay: 0s;
  animation-duration: 16s;
  left: 15%;
  --drift: 20px;
}
.bubble:nth-child(7) {
  animation-delay: 5s;
  animation-duration: 14s;
  left: 5%;
  --drift: 40px;
}
.bubble:nth-child(8) {
  animation-delay: 0s;
  animation-duration: 12s;
  left: 63%;
  --drift: 20px;
}
.bubble:nth-child(9) {
  animation-delay: 0s; /* gør boblen synlig med det samme */
  animation-duration: 18s; /* gør boblen langsommere */
  left: 81%;
  --drift: 70px; /* gør boblen mere til højre mens den svømmer*/
}
.bubble:nth-child(10) {
  animation-delay: 0s;
  animation-duration: 10s;
  left: 96%;
  --drift: 10px;
}

/* Skattekiste stil */
.image-skattekiste {
  position: absolute;
  bottom: 16px;
  left: 40px;
  z-index: 3;
  cursor: pointer;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.616));
  animation: kisteGloed 2s ease-in-out infinite alternate;
}
.image-skattekiste img {
  height: auto;
}
/* Animation for skattekiste glød effect */
@keyframes kisteGloed {
  from {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.616));
  }
  to {
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.616))
      drop-shadow(0 0 40px rgba(255, 255, 255, 0.616));
  }
}

/* Pirat stil */
.pirat {
  position: absolute;
  bottom: 140px;
  left: 470px;
  cursor: pointer;
  z-index: 4;
  filter: drop-shadow(0 0 5px rgba(22, 22, 22, 0.514));
  animation: piratSkygge 10s ease-in-out infinite alternate;
}
.pirat img {
  height: auto;
  width: 1000px;
}
/* Animation for pirat skygge effect */
@keyframes piratSkygge {
  from {
    filter: drop-shadow(0 0 5px rgba(22, 22, 22, 0.514));
  }
  to {
    filter: drop-shadow(0 0 10px rgba(22, 22, 22, 0.514))
      drop-shadow(0 0 20px rgba(22, 22, 22, 0.514));
  }
}

/* Fisk animationer */
.image-bluefish {
  position: absolute;
  width: 20px;
  max-width: 20vw;
  bottom: 400px;
  right: 150px;
  transform: none;
  z-index: 5;
  animation: fish-swim 10s linear infinite;
}
/* Fisk svømme animation */
@keyframes fish-swim {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
.image-bluefish img {
  max-width: 600%;
  height: auto;
}

.image-yellowfish {
  position: absolute;
  width: 20px;
  max-width: 20vw;
  bottom: 30px;
  left: 30px;
  transform: none;
  z-index: 5;
  top: 30px;
  cursor: pointer;
  animation: image-yellowfish 10s linear infinite;
}
@keyframes image-yellowfish {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(2000px);
  }
}
@keyframes yellow-fish-fast-swim {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(2000px);
  }
}
.image-yellowfish img {
  max-width: 400%;
  height: auto;
}

.image-greenfish {
  position: absolute;
  width: 20px;
  max-width: 20vw;
  bottom: 40px;
  right: 160px;
  transform: none;
  z-index: 5;
  animation: image-greenfish 17s linear infinite;
}
@keyframes image-greenfish {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
.image-greenfish img {
  max-width: 700%;
  height: auto;
}

.image-nemofish {
  position: absolute;
  width: 20px;
  max-width: 20vw;
  bottom: 30px;
  left: 30px;
  transform: none;
  z-index: 5;
  top: 400px;
  animation: image-nemofish 15s linear infinite;
}
@keyframes image-nemofish {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(2000px);
  }
}
.image-nemofish img {
  max-width: 580%;
  height: auto;
}

/* repsomonsive design for forskellige skærmstørrelser */
@media (max-width: 1440px) {
  /* Laptop L skærm */
  .pirat {
    bottom: 102px;
    left: 339px;
  }
  .pirat img {
    width: 800px;
  }

  .image-skattekiste img {
    width: 210px;
  }
  .image-skattekiste {
    left: 20px;
  }

  .image-greenfish img {
    max-width: 500%;
  }
  .image-nemofish img {
    max-width: 500%;
  }
  .image-yellowfish img {
    max-width: 350%;
  }
  .image-bluefish img {
    max-width: 500%;
  }

  .bubble {
    max-width: 30px;
  }

  .image-button img {
    max-width: 80%;
  }
  #extra-button {
    left: -10%;
  }
  #fish-button {
    left: 0%;
  }
  #play-button {
    left: 60%;
  }
}

@media (max-width: 1024px) {
  /* Laptop skærm */
  .pirat {
    bottom: 72px;
    left: 245px;
  }
  .pirat img {
    width: 550px;
  }

  .image-skattekiste img {
    width: 138px;
  }
  .image-skattekiste {
    left: 25px;
  }

  .image-greenfish img {
    max-width: 350%;
  }
  .image-nemofish img {
    max-width: 350%;
  }
  .image-yellowfish img {
    max-width: 250%;
  }
  .image-bluefish img {
    max-width: 350%;
  }

  .bubble {
    max-width: 20px;
  }

  .image-button img {
    max-width: 60%;
  }
  .image-button span {
    font-size: 25px;
  }
  #extra-button {
    left: -30%;
  }
  #fish-button {
    left: -10%;
  }
  #play-button {
    left: 60%;
  }
}

@media (max-width: 768px) {
  /* Tablet skærm */
  .pirat {
    bottom: 51px;
    left: 190px;
  }
  .pirat img {
    width: 400px;
  }

  .image-skattekiste img {
    width: 97px;
  }
  .image-skattekiste {
    left: 20px;
  }

  .image-greenfish img {
    max-width: 200%;
  }
  .image-nemofish img {
    max-width: 200%;
  }
  .image-yellowfish img {
    max-width: 100%;
  }
  .image-bluefish img {
    max-width: 200%;
  }

  .bubble {
    max-width: 10px;
  }

  .image-button img {
    max-width: 35%;
  }
  .image-button span {
    font-size: 15px;
  }
  #extra-button {
    left: 30%;
  }
  #fish-button {
    left: -20%;
  }
  #play-button {
    left: 50%;
  }
}