/* Import af font fra Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

/* Root-variabler */
:root {
  --font-body: "Poppins", sans-serif; /* brødtekst font importeret via google fonts*/
  --font-heading: "Yusei Magic", sans-serif; /* overskrift font importeret via google fonts*/
  --roed-farve: #920b1b;
  --brun-farve: #4a2103;
  --groen-farve: #0d9268;
  --lys-groen-farve: #1aa191;
  --lyse-groen-farve: #13b258;
  --hvid-farve: #ffffff;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

/* Styles til spil-siden */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

/* Spillebrik stil */
#dodger {
  width: 100px;
  height: 100px;
  position: absolute;
  /* outline: var(--roed-farve) solid 1px; */
}

/* Baggrund stil */
#spil {
  background-image: url(../img/baggrund.svg);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

/* Tilbage knap stil */
#tilbage {
  position: absolute;
  top: 855px;
  left: 10px;
  padding: 10px 20px;
  font-size: 40px;
  background-color: var(--roed-farve);
  color: var(--hvid-farve);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Forhindringer stil */
.veag {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: var(--lyse-groen-farve) solid 5px;
}
#bundVeag {
  width: 20px;
  height: 1920px;
  top: -115px;
  left: 950px;
  transform: rotate(calc(90deg));
  background-color: var(--groen-farve);
  z-index: 10;
}
#veag1 {
  width: 78px;
  height: 452px;
  top: -8px;
  left: 246px;
  border-radius: 10px;
  background-image: url(../img/plante2.svg);
}
#veag2 {
  width: 79px;
  height: 243px;
  top: -8px;
  left: 786px;
  border-radius: 10px;
  background-image: url(../img/plante2.svg);
}
#veag3 {
  width: 80px;
  height: 243px;
  top: 605px;
  left: 935px;
  border-radius: 10px;
  background-image: url(../img/plante.svg);
}
#veag4 {
  width: 79px;
  height: 480px;
  top: 365px;
  left: 1505px;
  border-radius: 10px;
  background-image: url(../img/plante.svg);
}
#veag5 {
  width: 78px;
  height: 243px;
  top: 605px;
  left: 456px;
  border-radius: 10px;
  background-image: url(../img/plante.svg);
}
#veag6 {
  width: 79px;
  height: 452px;
  top: -8px;
  left: 1146px;
  border-radius: 10px;
  background-image: url(../img/plante2.svg);
}

/* Prøv igen stil */
#proevIgenSkearm {
  display: none;
  position: absolute;
  top: 350px;
  left: 700px;
  background-color: var(--brun-farve);
  text-align: center;
  padding: 10px 50px;
  border-radius: 50px;
  cursor: pointer;
  border-width: 5px;
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.945));
  flex-direction: column;
}
#proevIgenSkearm h1 {
  font-family: var(--font-heading);
  font-size: 80px;
  color: var(--hvid-farve);
}
#proevIgenSkearm h2 {
  font-size: 50px;
  color: var(--hvid-farve);
}

/* Score stil */
#score {
  position: absolute;
  top: 20px;
  left: 1650px;
  font-size: 40px;
  color: var(--hvid-farve);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  font-family: var(--font-heading);
  z-index: 10;
}

/* Mønt stil */
#moent {
  position: absolute;
  bottom: 80px;
  left: 1650px;
  width: 50px;
  height: 50px;
}
